body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(1, 14, 17);
    background-color: rgb(243, 172, 196);
    text-decoration: none;
}


.header {
 background-color: white;
text-align: center;
display: flex;
color: rgb(167, 41, 83);
padding: 2px;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 1.1em;
}

.nav-bar{
    color: rgb(167, 41, 83);
    padding: 10px;
    background-color: rgb(238, 178, 232);
    padding: 5px 10px;
    


}

.nav-bar ul{
    text-align: end;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    text-transform: capitalize;
    text-decoration: none;
    margin: 0 750px;
    color: rgb(154, 13, 84);
    font-size: larger;
    justify-content: space-between;
}

.nav-bar a{
    text-decoration: none;
    color: rgb(154, 13, 84);
    font-weight: bold;
    font-size: 1.3em;
}
.nav-bar a:hover{
    color: rgb(226, 118, 208);
}

 h1{
    font-size: 3em;

}
 p {
    font-size: 1.5em;
    color: rgb(154, 13, 84);
}

h1{
    text-align: center;
    padding: 10px 0;
    color: rgb(154, 13, 84);
}

p{
 margin: px 0 ;
 list-style: 1.6;
 text-align: center;

}
/* #btn1{
text-decoration: none;
background-color: rgb(169, 26, 117);
font-size: 2rem;
color: rgb(239, 159, 203);
border-radius: 10px;
cursor: pointer;
margin: 550px;
padding: 10px;

} */

.Bow{
    padding: 40px 20px;
    background-color: rgb(238, 178, 232);
}

bows-collection{

    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

.Bows{
    padding: 20px;
    border-radius: 8px;
    width: 200px;
    text-align: center;   
}

h2{
    color:rgb(154, 13, 84) ;
    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 6px;
}
  .subform{

    color: rgb(202, 43, 122) ;
    background-color: rgb(245, 166, 192);
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-content: space-between;
    display: flex;
    border-radius: 100px;
    padding: 100px 200px;
    font-size: 2em;
  }